.bridge-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background: #434343;
  height: 100%;
  width: 260pt;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.39);
}
  
  .bridge-top-area {
    padding: 0 18pt;
    position: relative;
  }

    .bridge-home-button {
      background: #595959;
      padding: 10px 20pt;
      color: white;
      font-family: 'Roboto';
      display: inline-block;
      margin: 10pt 0;
    }

    .close-bridge {
      position: absolute;
      right: 10pt; top: 10pt;
    }

    .bridge-title {
      font-family: "Roboto";
      font-weight: 100;
      font-size: 20pt;
      color: white;
      line-height: 24pt;
    }

  .bridge-navigation-area {
    background: white;
    overflow: scroll;
  }

    .bridge-content-items {
      margin: 0;
      list-style: none;
      overflow: hidden;
      -webkit-animation-duration: .5s;
    }

      .bridge-content-items li {
        margin-bottom: 0;
      }

    .bridge-lessons {
      
    }

      .content-item {
        
      }

        .content-item-wrapper {
          background: #797979;
          box-shadow: 0pt 1pt 2pt 0pt rgba(0,0,0,0.50);
          position: relative;
        }

        .content-item-title-area {
          padding: 18pt;
          box-sizing: border-box;
          width: 200pt;
          float: left;
        }

          .content-item-title {
            font-family: 'Roboto';
            font-size: 18pt;
            color: #FFFFFF;
            line-height: 21pt;
            margin-bottom: 0;
          }

          .content-item-subtitle {
            font-size: 12pt;
            color: white;
            line-height: 16pt;
            margin-bottom: 0;
          }

        .content-item-expansion-area {
          width: 50pt;
          height: 100%;
          background: rgba(0,0,0,0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 0;
          text-align: center;
        }

          .content-item-expansion-area .chevron {
            margin: 0 auto;
          }

        .bridge-sections {
          margin-left: 0;
        }

          .section-item {

          }

            .bridge-sections .section-item .content-item-wrapper {
              background: #919191;
            }



          .bridge-subsections {

          }

            .bridge-subsections .section-item .content-item-wrapper {
              background: #F4F4F4;
            }

            .bridge-subsections .section-item .content-item-title-area {
              margin-left: 10pt;
            }

            .bridge-subsections .section-item .content-item-title,
            .bridge-subsections .section-item .content-item-subtitle {
              color: black;
            }



/* Collapsing and expanding navigation put here for cleanliness */

.content-item.closed > .bridge-content-items {
  height: 0;
}

.content-item > .bridge-content-items {
  height: auto;
}
