html, body {
  height: 100%;
}

.content-lesson-tag, .summary-tag {
  font-size: 12pt;
  font-family: "Roboto";
  font-weight: 100;
  display: inline-block;
  padding: 7pt 40pt;
  color: white;
  position: absolute;
  top: -16pt;
  text-align: center;
  margin: 0 auto;
  width: 50pt;
  right: 0; left: 0;
}

.content-header-container {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  position: relative;
  margin-top: 80pt;
  margin-bottom: 40pt;
}

  .content-header-container .content-header {
    font-size: 24pt;
    margin-top: 30pt;
    margin-bottom: 30pt;
    text-align: center;
  }

  .content-header-container .content-lesson-tag {
    background: #6AC780;
  }

.summary-container {
  background: #6AC780;
  position: relative;
  margin-bottom: 20pt;
}

  .summary-container .summary {
    padding: 24pt 20px 20pt;
    color: white;
  }

  .summary-container .summary-tag {
    background: #434343;
  }

.section-header {
  font-size: 20pt;
  border-bottom: 1px solid black;
}

.subsection-header {
  font-size: 16pt;
  border-bottom: 1px solid black;
}


.image-container {
  margin-bottom: 25pt;
}

  .image-container img {
    width: 100%;
    margin-bottom: 0;
    display: block;
  }

  .image-container .image-supplemental-text {
    background: #6AC780;
    color: white;
    padding: 20pt;
  }


/* MICRO CLEARFIX */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}